<!-- <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Modi, aliquam. Tempora provident aliquid nostrum. Non 
        neque impedit illum sunt dolorum reiciendis, consequatur 
        corporis ullam possimus provident doloremque eos ut id. 
        Doloribus explicabo fuga magnam reprehenderit libero, 
        doloremque expedita ipsa vel commodi voluptatum possimus 
        officiis ab dolores asperiores labore, provident fugiat 
        dolor totam in dicta nulla sequi! Delectus, quia consequatur! 
        Labore magni molestias ab voluptatum ullam pariatur fugiat error 
        facere, laboriosam aperiam tempore fuga consectetur consequuntur 
        soluta blanditiis iste! Ipsam, incidunt, maxime officia asperiores 
        ut quibusdam sunt deleniti nobis neque officiis adipisci est ea d
        olorum tenetur nulla atque reprehenderit earum at? 
    </p>
    </div> -->


<h1>
    {{myStore.name}}
</h1>
<div>
    <ul>
        <li *ngFor="let branche of myStore.branches;">{{branche}}</li>
    </ul>
</div>

<img [src]="myStore.logo" alt="">